@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039;");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
}
.top2 {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.fr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 300px;
  margin-left: 80px;
  margin-top: -150px;

  /* padding-left: 120px;
    padding-top: 40px; */
}
.left-son > h1 {
  font-size: 40px;
}
.left > .left-son {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.rr {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.topall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.line {
  border: #fdc435 solid 2px;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  margin-top: 5px;
}
.div-one {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.div-left {
  background-color: white;
  width: 496px;
  height: 524px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.d1 {
  margin-top: 200px;
  margin-left: 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divh1 {
  font-size: 40px;
  font-weight: 700;
  color: #25282b;
}
.divp {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  width: 350px;
}
.div1b {
  border: #25282b solid 1px;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 150px;
  height: 43px;
}
.img-right1 {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.div2 {
  display: flex;
  width: 992px;
  height: 524px;
  margin-top: 100px;
}
.img-left2 {
  height: 524px;
  width: 496px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.div2-right {
  background-color: white;
  height: 524px;
  width: 496px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.div2-2 {
  margin-top: 200px;
  margin-left: 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div2-h1 {
  font-size: 40px;
  font-weight: 700;
  color: #25282b;
}
.div2-p {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  width: 350px;
}
.div2-btn {
  border: #25282b solid 1px;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 150px;
  height: 43px;
}
.div3 {
  display: flex;
  flex-direction: row;
  width: 992px;
  height: 524px;
  margin-top: 100px;
}
.div3-left {
  background-color: white;
  display: flex;
  height: 524px;
  width: 496px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.div3-2 {
  margin-top: 50px;
  margin-left: 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div3-h1 {
  font-size: 40px;
  font-weight: 700;
  color: #25282b;
}
.div3-p {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  width: 350px;
}
.div3-btn {
  border: #25282b solid 1px;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 150px;
  height: 43px;
}

.img3 {
  height: 524px;
  width: 550px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.foter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 192;
  height: 102;
  margin-top: 100px;
  margin-bottom: 50px;
}
.uls {
  display: flex;
  gap: 20px;
  list-style: none;
}
.foter-p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
